#container {
  display: block;
}
#navbar {
  display: flex;
  align-items: center;
  padding: 10px;

}

#search-box {
  border: 1px solid black;
  width: 60%;
  height: 40px;
  margin-left: 15%;
  border-radius: 20px;
}

#logo img{
  height: 50px;
  width: 50px; 
}

#logout img{
  margin-left: 300px;
  height:40px;
  width: 40px;
}

/* Body Styling */

#body {
  display: flex;
}
.item-box {
  margin-top: 50px;
  border: 2px solid red;
  border-radius: 30px;
  height: 280px;
  width: 400px;
  margin: 20px;
}